
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
  }
  body{
    display: flex;
    justify-content: center;
  }
  
  .links {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 500;
  }

  .chi:hover {
    background-color: #3cbea6;
  } 
  .contact:hover {
    background-color: #3cbea6;
  }  
  .pk:hover {
    background-color: #3cbea6;
  }  
  .assis:hover {
    background-color: #3cbea6;
  }

  .item {
    height: 55px;
    list-style: none;
    padding: 15px;
  
    border-radius: 60px;
    transition: all 0.3s ease-in-out;
  }
  .lista_iniziale {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f5f5f5;
    width: 700px;
    height: 70px;
    margin-top: 20px;
    border-radius: 60px;
    box-shadow: 10px 10px 40px #7a7a7a;
  }
